body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #5598a5;
    color: #020202;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.brand {
    font-size: 20px;
    margin-left: 20px; 
    font-family: "Major Mono Display";
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-right: 150px; }

.search-bar input[type="text"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    width: 200px;
}

.search-bar button {
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button img {
    width: 20px;
    height: 20px;
}
 .mail-icon i{
    margin-left: auto;
    width: 30px;
    color: #020202;
    
   
}

.profile-section {
    background-color: #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
}



.sidebar {
    background-color:white;
    width: 250px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    float: left; 
    overflow: auto;
    border-right: #999;
    border-right-style: solid;
    border-width: 1px;

}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    color: black;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 15px;
    margin-top: 15px;
    
}

.sidebar-menu li a {
    text-decoration: none;
    color: black;
    padding:10px 0;

}

.sidebar-menu li a:hover {
    background-color: #5598a5;
    
}
.sidebar p {
    margin-top: 330px;
    font-size:1px ;
}

   

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 180px;
    margin-left: 400px;
}

.box {
    width: 28%; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: flex; /* Use flexbox */
    align-items: center;
    margin-bottom: 35px;
    height: 100px; /* Adjust height as needed */
}

.box i {
    font-size: 40px;
    margin-left: 7px;
}

.text {
    display: flex;
    flex-direction: column;
}

.text p {
    margin: 5px 0;
    margin-left: 30px;
}
.welcome{text-align: center;
padding: 20px;}

