body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #5598a5;
    color: #020202;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.brand {
    font-size: 20px;
    margin-left: 20px; 
    font-family: "Major Mono Display";
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-right: 150px; }

.search-bar input[type="text"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    width: 200px;
}

.search-bar button {
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button img {
    width: 20px;
    height: 20px;
}
 .mail-icon i{
    margin-left: auto;
    width: 30px;
    color: #020202;
}

.filter-bar {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-options {
    display: flex;
}

.filter-button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
}

.filter-button:hover {
    background-color: #e6e6e6;
}

.filter-options span {
    margin-right: 5px;
}

.filter {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter span {
    margin-right: 5px;
}

.filter i {
    width: 20px;
    height: 20px;
}

.doctor-list {
    max-width: 800px; 
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.doctor-box {
    width: 200px; 
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: #333; 
   
    transition: background-color 0.3s; 
}

.doctor-box:hover {
    background-color: #f2f2f2; /* Light gray background on hover */
}

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.info h2 {
    margin: 0;
    font-size: 18px;
    color: #007bff; 
}

.info p {
    margin: 5px 0;
    color: #666; 
}

.rating {
    color: #ffcc00; 
    font-weight: bold;
}

.container {
    overflow: hidden; /* Clearfix */
    float: left;
    display: flex;
    flex-direction:row;
    align-items: center;
}

.section {
    float: left;
    
   margin-top: 10px;


    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    
    margin-left: 20px;
    margin-right: 20px;
}

.profile, .access-info {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px; 
}
.profile{
    text-align: center;
}

.profile img {
    margin-bottom: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile h2, .access-info h2 {
    margin: 5px 0;
}

.profile p, .access-info p {
    margin: 5px 0;
}

.rating {
    font-size: 24px;
    color: gold;
}

.star {
    margin: 0 2px;
}

.section2 {
    
    padding-top: 0px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 0;
    width:900px;
    height: 410px;
    
    
}
.description {
   
    padding-bottom: 20px;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
}

.question, .answer {
    display: inline-block;
     margin-right: 20px;
     padding-right: 20px;
     padding-left: 20px;
 }
 .question{
     font-weight: bold;
 }
 
 
 
 .details .detail p {
     margin-bottom: 10px;
     padding-right: 20px;
     padding-left: 20px;
 }